<%- include("../layouts/header"); -%>
<%  
    let name = config.meta.name;
%>
                            <ol class="breadcrumb"> 
                                <li>
                                    <a href="/"><%= name %></a>
                                    <span> / </span>
                                    <a href="/blog">Blog</a>
                                </li>
                            </ol>

                            <main class="container">
                                <h1><%= routeTitle %></h1>
                                <%- include(path.resolve("dist_entries", "entries.html")); -%>
                            </main>
<%- include("../layouts/footer"); -%>